{% extends 'base.html' %}

{% block content %}
    <div class="container p-2 m-5 bg-white border rounded">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <div class="form-group p-2">
                {{ form.first_name.label(class="form-control-label") }}
                {% if form.first_name.errors %}
                    {{ form.first_name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.first_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.first_name(class="form-control") }}
                {% endif %}
            </div>
            <div class="form-group p-2">
                {{ form.last_name.label(class="form-control-label")  }}
                {% if form.last_name.errors %}
                    {{ form.last_name(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.last_name.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.last_name(class="form-control form-control") }}
                {% endif %}
            </div>
            <div class="form-group p-2">
                {{ form.email.label(class="form-control-label")  }}
                {% if form.email.errors %}
                    {{ form.email(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.email(class="form-control form-control") }}
                {% endif %}
            </div>
            <div class="form-group p-2">
                {{ form.password.label(class="form-control-label")  }}
                {% if form.password.errors %}
                    {{ form.password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.password(class="form-control form-control") }}
                {% endif %}
            </div>
            <div class="form-group p-2">
                {{ form.confirm_password.label(class="form-control-label")  }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.confirm_password(class="form-control form-control") }}
                {% endif %}
            </div>
            <div class="form-group p-2">
                {{ form.phone_num.label(class="form-control-label")  }}
                {% if form.phone_num.errors %}
                    {{ form.phone_num(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.phone_num.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.phone_num(class="form-control form-control") }}
                {% endif %}
            </div>
            <div class="form-group p-2">
                {{ form.dob.label(class="form-control-label")  }}
                {% if form.dob.errors %}
                    {{ form.dob(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.dob.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.dob(class="form-control form-control") }}
                {% endif %}
            </div>
            <div class="form-group p-2">
                {{ form.address.label(class="form-control-label")  }}
                {% if form.address.errors %}
                    {{ form.address(class="form-control is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.address(class="form-control form-control") }}
                {% endif %}
            </div>
            <div class="py-3 px-2 form-group">
                {{ form.submit(class="btn btn-primary form-control") }}
            </div>
        </form>
        <small class="px-2 mb-3 text-muted d-flex flex-row-reverse">
            <a href="{{ url_for('employee.login') }}"> Log In.</a>
            <p>Already have an account--</p>
        </small>
    </div>
{% endblock %}

